/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #1bb1dc;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #0a98c0;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: rgba(158, 65, 201, 0.62);
    /*#1bb1dc;*/
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #ff508b;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    background: #fff;
    height: 70px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .logo {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo a {
    color: #413e66;
}

#header .logo img {
    max-height: 51px;
    /*40px;*/
}

#header .social-links {
    margin: 0 0 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#header .social-links a {
    color: #555186;
    transition: 0.3s;
    line-height: 0;
    margin-left: 0px;
}

#header .social-links a i {
    line-height: 0;
}

#header .social-links a:hover {
    color: #1bb1dc;
}

@media (max-width: 992px) {
    #header .social-links {
        margin: 0px 0px 0px 50px;
    }
}

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 15px;
    font-family: "Montserrat", sans-serif;
    /*text-transform: uppercase;*/
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 600;
    color: #413e66;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #8700C8;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px 1px 20px;
    text-transform: none;
    font-weight: 400;
}

.navbar .dropdown ul p {
    text-transform: none;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #1bb1dc;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/*---Custom Navigation Class---*/

.select-lan {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin: 0px 0px 0px 15px;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 600;
    background: rgb(0 0 0 / 0%);
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #413e66;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 43, 70, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #413e66;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #1bb1dc;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #1bb1dc;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    /*height: 100vh;*/
    position: relative;
    /*background: #FBF2FF url("../img/Intro-bg.png") center top no-repeat;*/
    /*background-size: cover;*/
    padding-top: 110px;
}

@media (max-width: 991px) {
    #hero {
        height: auto;
        padding: 100px 0 60px 0;
    }
    #hero .container {
        height: auto !important;
    }
    #hero .intro-img {
        width: 80%;
    }
}

@media (min-width: 992px) {
    #hero .intro-info {
        padding-top: 100px;
    }
}

@media (max-width: 991px) {
    #hero .intro-info {
        text-align: center;
        padding-top: 40px;
    }
}

#hero .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
}

#hero .intro-info h2 span {
    color: #8700C8;
}

@media (max-width: 991px) {
    #hero .intro-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
}

#hero .intro-info .btn-get-started,
#hero .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #53007B;
    color: #fff;
}

#hero .intro-info .btn-get-started:hover,
#hero .intro-info .btn-services:hover {
    background: #8700C8;
    /*0a98c0;*/
}


/*--------------------------------------------------------------
# Hero Custom Section
--------------------------------------------------------------*/

.hero-margin {
    margin-top: 63px;
}

.hero-right-img {
    max-height: 80%;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
    overflow: hidden;
}


/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

@media (max-width: 767px) {
    .section-header p {
        width: 100%;
    }
}


/* Section with background
--------------------------------*/

.section-bg {
    background: #f5f8fd;
}

.section-bg-b {
    background: #fbf2ff;
}


/* About Us Section
--------------------------------*/

#about {
    padding: 80px 0;
}

#about .about-content {
    padding-top: 40px;
}

#about .about-content h2 {
    color: #413e66;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#about .about-content h3 {
    color: #696592;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
}

#about .about-content ul {
    list-style: none;
    padding: 0;
}

#about .about-content ul li {
    padding-bottom: 10px;
}

#about .about-content ul li i {
    font-size: 20px;
    padding-right: 4px;
    color: #1bb1dc;
}

#about .about-img {
    position: relative;
    margin: 30px 30px 30px 30px;
}

#about .about-img img {
    width: 100%;
    border: 8px solid #fff;
    transition: .5s;
}

#about .about-img img:hover {
    width: 100%;
    transform: scale(1.03);
}

#about .about-img::before {
    position: absolute;
    left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}

#about .about-img::after {
    position: absolute;
    right: -31px;
    bottom: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}


/*Customize form
--------------------------------*/

.custom-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 75px;
    /*border-radius: .25rem;
        */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check-input:checked {
    background-color: #8700C8;
    border-color: #8700C8;
}


/*Custom vertical line
--------------------------------*/

.vl {
    border-left: 3px solid #bb6edf;
    height: 200px;
    padding-left: 150px;
}


/*Custom Button
--------------------------------*/

.custom-btn-primary {
    color: #fff;
    background-color: #53007B;
    border-color: #53007B;
    padding: 12px 80px;
}

.custom-btn-primary:hover {
    color: #fff;
    background-color: #8700C8;
    border-color: #8700C8;
}

.custom-btn-primary-two {
    color: #53007B;
    background-color: rgb(0 0 0 / 0%);
    border-color: rgb(0 0 0 / 0%);
    padding: 20px 35px;
}

.custom-btn-primary-two:hover {
    color: #53007B;
    background-color: rgb(0 0 0 / 0%);
    border-color: rgb(0 0 0 / 0%);
}

.custom-btn-primary-three {
    color: #53007B;
    background-color: rgb(0 0 0 / 0%);
    border-color: rgb(0 0 0 / 0%);
}


/*.custom-btn-primary-two {
    color: #fff;
    background-color: #53007B;
    border-color: #53007B;
    padding: 5px 35px;
}

.custom-btn-primary-two:hover {
    color: #fff;
    background-color: #8700C8;
    border-color: #8700C8;
}*/


/*Recent Post
--------------------------------*/

.card_header {
    font-size: .8rem;
    color: #ff508b;
}

.card-button {
    font-size: 1rem;
    font-weight: 600;
    color: #8700c8;
}

.post_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(0 0 0 / 5%);
    border-radius: .25rem .25rem .75rem .75rem;
}


/* Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    height: 400px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 15px 0px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    /*text-align: center;*/
}

#services .box:hover {
    transform: scale(1.1);
    border-style: none none solid none;
    border-radius: 0px 0px 15px;
    border-color: #E148AB;
    transition-duration: 0.75s;
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon_card_header1 {
    background: url("../img/icon_card_header1.png");
}

#services .icon i {
    font-size: 36px;
    line-height: 0;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #E148AB;
    /*#1bb1dc;*/
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}


/* Responsibility Custom Section
--------------------------------*/

.bottom-gradient {
    display: inline-block;
    /*background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(255 255 255) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);*/
}

.custom-gradient {
    height: 100px;
    margin-top: -100px;
    background-color: rgb(0 0 0 / 0%);
    background-image: linear-gradient( 180deg, rgb(255 255 255 / 0%), #ffffff);
}

.bottom-gradient img {
    position: relative;
    z-index: -1;
    display: block;
    width: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.portfolio-wrap:hover .overlay {
    opacity: 1;
}

.custom-portfolio {
    border-radius: 18px;
}

#portfolio .portfolio-item .portfolio-wrap .custom-portfolio img:hover {
    background: #282646;
    border-radius: 18px;
}


/* Why Us Section
--------------------------------*/

#why-us {
    padding: 60px 0;
}

@media (max-width: 991px) {
    #why-us .why-us-content {
        padding-top: 30px;
    }
}

#why-us .why-us-content .features {
    margin: 0 0 15px 0;
    padding: 0;
}

#why-us .why-us-content .features i {
    font-size: 36px;
    float: left;
}

#why-us .why-us-content .features h4 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 56px;
    color: #413e66;
    margin-bottom: 5px;
}

#why-us .why-us-content .features p {
    font-size: 16px;
    margin-left: 56px;
    color: #555186;
}

#why-us .counters {
    padding-top: 40px;
}

#why-us .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #555186;
}

#why-us .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #8a87b6;
}


/* Customize card Our Activities Section
--------------------------------*/

.customize-card {
    background-color: #e6b1fd;
    border-radius: 25px;
    border: 1px solid #e6b1fd;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
}

.customize-card:hover {
    background-color: #ffffff;
    border: 1px solid #ff508b;
    transition-duration: 0.75s;
}

.custom-card-img {
    padding: 35px 0px 0px 55px;
}

.custom-img-border {
    border: hidden;
    border-radius: 1rem;
}

.custom-card-body {
    padding: 45px 0px;
}

.custom-card-text {
    margin: 10px 0px;
    font-size: 14px;
}


/* Customize Modal
--------------------------------*/

.modal-fullscreen .modal-content {
    height: 100%;
    width: 40%;
    border: 0;
    float: right;
    border-radius: 0;
}


/* Call To Action Section
--------------------------------*/

#call-to-action {
    background: #2d2b46;
    background-size: cover;
    padding: 40px 0;
}

#call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#call-to-action .cta-text {
    color: #fff;
}

@media (min-width: 991px) {
    #call-to-action .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

#call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #fff;
    color: #fff;
}

#call-to-action .cta-btn:hover {
    background: #1bb1dc;
    border: 3px solid #1bb1dc;
}


/* Features Section
--------------------------------*/

#features {
    padding: 80px 0;
}

#features h4 {
    font-weight: 600;
    font-size: 24px;
}


/* Mobile Section
--------------------------------*/

#mobile {
    width: 100%;
    position: relative;
    padding-top: 0px;
}

.mobile-back-img {
    background: url(../img/mobile.png) center top no-repeat;
}

#mobile .intro-info h2 {
    color: #413e66;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
    padding-top: 175px;
    text-transform: uppercase;
}

#mobile .intro-info h2 span {
    color: #8700C8;
}

.custom-section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 0px;
    color: #535074;
    width: 50%;
}


/* Search Us Section
--------------------------------*/

.search-container {
    margin-top: 100px
}

.btn:hover {
    color: #fff
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #8700c8;
    outline: 0px
}

.form-control {
    border: 1px solid #8700c8;
}

.custom-btn-outline-warning {
    color: #8700c8;
    border-color: #8700c8;
}

.custom-btn-outline-warning:hover {
    color: #fff;
    background-color: #8700c8;
    border-color: #8700c8;
}


/* Contact Us Section
--------------------------------*/

#contactus {
    padding: 0px 0px 60px 0px;
}

.custom-social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #53007B;
    margin-right: 4px;
    /*border-radius: 50%;*/
    text-align: center;
    /*width: 36px;
    height: 36px;*/
    transition: 0.3s;
    font-size: 40px;
    margin-bottom: 40px;
}

.custom-social-links a i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #53007B;
    margin-right: 4px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    font-size: 40px;
}

.custom-social-links h3 {
    margin: 0px 0 0px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-left: 25px;
}

.custom-social-links a i:hover {
    background: #53007B;
    color: #fff;
    font-size: 40px;
}


/* Portfolio Section
--------------------------------*/

#portfolio {
    padding: 60px 0;
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 20px;
    color: #413e66;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    color: #1bb1dc;
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
    overflow: hidden;
    position: relative;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
    font-size: 22px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
    color: #1bb1dc;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #f8fcff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #1bb1dc;
    border-radius: 50%;
    margin: 10px 4px 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
    font-size: 22px;
    color: #fff;
    line-height: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
    background: #42c3e8;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
    background: #282646;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #1bb1dc;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #1bb1dc;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(65, 62, 102, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}


/* Testimonials Section
--------------------------------*/

#testimonials {
    padding: 60px 0;
}

#testimonials .section-header {
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    #testimonials .testimonial-item {
        text-align: center;
    }
}

#testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    float: left;
}

@media (max-width: 767px) {
    #testimonials .testimonial-item .testimonial-img {
        float: none;
        margin: auto;
    }
}

#testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
    margin-left: 140px;
}

#testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
    margin-left: 140px;
}

#testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 140px;
}

@media (min-width: 992px) {
    #testimonials .testimonial-item p {
        width: 80%;
    }
}

@media (max-width: 767px) {
    #testimonials .testimonial-item h3,
    #testimonials .testimonial-item h4,
    #testimonials .testimonial-item p {
        margin-left: 0;
    }
}

#testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

#testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #1bb1dc;
}

#testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #1bb1dc;
}


/* Team Section
--------------------------------*/

#team {
    padding: 60px 0;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#team .member .member-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
    padding: 15px 0;
    background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
    transition: margin 0.2s;
    height: 36px;
    transition: height 0.4s;
}

#team .member:hover .member-info {
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    height: 70px;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social a:hover {
    color: #1bb1dc;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}


/* Clients Section
--------------------------------*/

#clients {
    padding: 60px 0;
}

#clients img {
    opacity: 0.5;
    transition: 0.3s;
}

#clients img:hover {
    opacity: 1;
}

#clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

#clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #1bb1dc;
}

#clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #1bb1dc;
}


/* Pricing Section
--------------------------------*/

#pricing {
    padding: 80px 0;
}

@media (max-width: 991px) {
    #pricing {
        padding-bottom: 30px;
    }
}

#pricing .card {
    border: 0;
    border-radius: 0px;
    box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
    transition: all .3s ease-in-out;
    padding: 36px 0;
    position: relative;
}

@media (max-width: 991px) {
    #pricing .card {
        margin-bottom: 50px;
    }
}

#pricing .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #1bb1dc;
    transition: 0.5s;
}

#pricing .card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

#pricing .card:hover:after {
    width: 100%;
}

#pricing .card .card-header {
    background-color: white;
    border-bottom: 0px;
    -moz-text-align-last: center;
    text-align-last: center;
}

#pricing .card .card-title {
    margin-bottom: 16px;
    color: #535074;
}

#pricing .card .card-block {
    padding-top: 0;
    text-align: center;
}

#pricing .card .list-group-item {
    border: 0px;
    padding: 6px;
    color: #413e66;
    font-weight: 300;
}

#pricing .card h3 {
    font-size: 64px;
    margin-bottom: 0px;
    color: #535074;
}

#pricing .card h3 .currency {
    font-size: 30px;
    position: relative;
    font-weight: 400;
    top: -30px;
    letter-spacing: 0px;
}

#pricing .card h3 .period {
    font-size: 16px;
    color: #6c67a3;
    letter-spacing: 0px;
}

#pricing .card .list-group {
    margin-bottom: 15px;
}

#pricing .card .btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #5f5b96;
    border-radius: 0;
    padding: 10px 24px;
    letter-spacing: 1px;
    border-radius: 3px;
    display: inline-block;
    background: #1bb1dc;
    color: #fff;
}

#pricing .card .btn:hover {
    background: #0a98c0;
}


/* Frequently Asked Questions Section
--------------------------------*/

#faq {
    padding: 60px 0;
    overflow: hidden;
}

#faq .faq-list {
    padding: 0;
    list-style: none;
}

#faq .faq-list li {
    border-bottom: 1px solid #edecf4;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #1bb1dc;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: #158caf;
    transition: 0.3s;
}

#faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

#faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

#faq .faq-list .icon-show {
    display: none;
}

#faq .faq-list .collapsed {
    color: black;
}

#faq .faq-list .collapsed:hover {
    color: #1bb1dc;
}

#faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
}

#faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    background: #f9f9fb;
    min-height: 40px;
    margin-top: 90px;
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #555186;
    content: "/";
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #fff url(../img/footer_img.webp) center top no-repeat;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f5f8fd url(../img/footer_img.webp) center top no-repeat;
    ;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #413e66;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #53007B;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a i {
    line-height: 0;
    font-size: 16px;
}

#footer .footer-top .social-links a:hover {
    background: rgba(176, 102, 211, 0.62);
    /*#0a98c0;*/
    color: #fff;
}

@media (max-width: 574px) {
    #footer .footer-top .social-links a {
        margin-bottom: 25px;
    }
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    /*text-transform: uppercase;*/
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
}

#footer .footer-top .footer-links ul a:hover {
    color: #1bb1dc;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
    color: #fff;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #1bb1dc;
    border: 1px solid #1bb1dc;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0a98c0;
}

#footer .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

#footer .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

#footer .php-email-form .error-message br+br {
    margin-top: 25px;
}

#footer .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#footer .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

#footer .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#footer .php-email-form input,
#footer .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dce1ec;
    font-size: 14px;
}

#footer .php-email-form input:focus,
#footer .php-email-form textarea:focus {
    border-color: #1bb1dc;
}

#footer .php-email-form input {
    padding: 10px 15px;
}

#footer .php-email-form textarea {
    padding: 12px 15px;
}

#footer .php-email-form button[type="submit"] {
    background: #1bb1dc;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}

#footer .php-email-form button[type="submit"]:hover {
    background: #0a98c0;
    cursor: pointer;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #fff;
    font-size: 15px;
}

#footer .credits {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #8582a8;
}

#footer .credits a {
    color: #1bb1dc;
}

#footer .credits a:hover {
    color: #0a98c0;
}

#footer .credits a:hover {
    color: #0a98c0;
}

#footer .credits a:hover {
    color: #0a98c0;
}

#footer .credits a:hover {
    color: #0a98c0;
}


/*--------------------------------------------------------------
Timeline------------------------------------------------------*/

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


/* medium and up screens */

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.custom-card-border {
    border: hidden;
}

.icon-font {
    font-weight: bold;
    font-size: 15px;
}


/*Organiztion detail*/

.org-timeline {
    font-weight: bold;
    color: rgb(135, 0, 200);
}

.heading-title {
    font-weight: bold;
}

.geo-icon {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.org-card-header {
    margin-top: 15px;
    margin-left: 15px;
}

.organization-img-border {
    border: hidden;
    border-radius: 1rem;
    height: 130px;
    width: 130px;
}

.org-site {
    margin-top: 13px;
    color: #0a58ca;
    font-weight: bold;
    font-size: small;
}

.org-btn-colour {
    color: #fff;
    background-color: rgb(135, 0, 200);
    border-color: blueviolet;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0.5rem;
}

.org-btn-colour:hover,
.org-btn-colour:active,
.org-btn-colour:focus,
.org-btn-colour.active {
    /* let's darken #004E64 a bit for hover effect */
    background: rgb(135, 0, 200);
    color: #ffffff;
    border-color: rgb(135, 0, 200);
}


/*!*Organiztion detail end*/


/*------------------------------------------------------------
Carousel Section--------------------------------------------*/

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.custom-card-border {
    border: hidden;
}